/*
BEM: Block (Layout), Element, Modifier
SASS: Reset, Typography, Component (Buttons...), Layout, ~Pages
Try to avoid nested selectors, except for state-modifier
*/

/* ### Vars, root, some resets */
/* colors: material.io scheme:
	primary/secondary, surface/background (neutral), error
	+ corresponding font color
	=> bgcolor/color _ neutral/primary/secondary/error _ lightness (10 is always white, 0 black)
*/
/* Background and Surface must have bg-color against which color is legible */
:root {
	--color_neutral_0: black;
	--color_neutral_1: #080809;
	--color_neutral_2: #241800;
	
	--color_neutral_7: #C0AD94;
	--color_neutral_8: #DBCAAB;
	--color_neutral_10: white;
	
	--color_info: purple;
	--color_link: darkblue;
	--color_andromalius: purple;
}

@media (prefers-color-scheme: dark) {
	:root {
	--color_neutral_0: white;
	--color_neutral_1: #DBCAAB;
	--color_neutral_2: #C0AD94;
	
	--color_neutral_7: #241800;
	--color_neutral_8: #080809;
	--color_neutral_10: black;
	
	--color_info: purple;
	--color_link: darkblue;
	}
}

html {
	color: var(--color_neutral_0);
	background-color: var(--color_neutral_7);
	font-family: Courier;
	overflow-y: scroll;
}

.name, .tag, .reach, .stats, .trigger, .summon {
	font-weight: bold;
}

html, body, .wrapper {
height: 100%;
min-height: 100%;
padding: 0;
margin: 0;
text-align: center;
}

/* ### LAYOUT
*/

/*.header {text-align: center;}*/
h1, h2 {
	margin: 1rem;
	padding: 0;
	display: inline-block;
}
.menu {
	display: inline-block;
	padding: 1rem;
	border-bottom: 0.2rem dotted var(--color_neutral_1);
}
.menuItem {
	width: 6rem;
	display: inline-block;
	color: var(--color_link);
	cursor: pointer;
}

.sheet {
	width: 100%;
	background-color: var(--color_neutral_8);
	box-sizing: border-box;
	display: inline-grid;
	border: 1px solid black;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		'sprite stats'
		'name name'
		'tag title'
		'desc desc'
	;
	grid-gap : 0.5em;
	padding: 0.5em;
}

.sprite_bg {
	grid-area: sprite;
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	background: radial-gradient(farthest-side at center, var(--color_neutral_10), var(--color_neutral_8));
}
.upgrade {
	background: radial-gradient(farthest-side at center, var(--color_andromalius), var(--color_neutral_8));
}
.name {grid-area: name; line-height: 1rem;}
.cost, .title {grid-area: title; font-style: italic; font-size: 0.75rem; line-height: 1.125rem;}
.tag, .reach {grid-area: tag; text-transform: uppercase; font-size: 0.75rem; line-height: 1.125rem;}
.reach {grid-area: title;}
.upgrade, .stats {grid-area: stats;}
.stats {width: 4rem;}
#ul_unit .stats {width: 6rem;}
.stats > span {display: inline-block; width: 100%;}
.desc {grid-area: desc; font-weight: normal;}


@media only screen and (min-width: 20rem) {
	.sheet {
		grid-template-columns: auto auto 1fr 1fr;
		grid-template-areas:
			'sprite stats name name'
			'sprite stats tag title'
			'desc desc desc desc'
		;
	}
	.sheet.item {
		grid-template-columns: auto auto 1fr auto auto;
		grid-template-areas:
			'sprite tag name title stats'
			'sprite desc desc desc stats'
			'sprite desc desc desc stats'
		;
	}
}

@media only screen and (min-width: 42rem) {
	.sheet {
		width: 40rem;
		margin: 0 1rem 1rem 0;
		grid-template-columns: auto auto auto 1fr auto auto;
		grid-template-areas:
			'sprite stats tag name title'
			'sprite stats desc desc desc'
			'sprite stats desc desc desc'
		;
	}
}

.atk::before, .hp::before, .spd::before {
	text-shadow: 1px 1px var(--color_neutral_0);
	line-height: 1rem;
}
.atk::before {content: "⚔ "; color: grey;}
.hp::before {content: "❤ "; font-size: 0.75em;  color: red;}
.spd::before {content: "⪼ "; font-size: 0.65em; color: yellow;}
.cost::after {content:"●"; color: gold; font-size: 1.5em;}

.trigger {color: var(--color_info); cursor: help; font-style: italic;}
.summon {color: var(--color_link); cursor: help; font-style: italic;}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


svg {
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
}
.s16 svg {
	width: 2rem;
	height: 2rem;
}

.menuItem > span {
	display: block;
}


#tooltip {
	border-color: red;
}
/*#tooltip .sprite_bg {
	background: radial-gradient(farthest-side at center,white, lightcyan);
}
#tooltip .sprite_bg.upgrade {
	background: radial-gradient(farthest-side at center,purple, lightcyan);
}*/

.toggler:not(:checked) + *, .toggler, [hidden] {
	display: none;
}
.filter input {
	display: none;
}

.filter {
	text-transform: uppercase;
	font-size: 0.75em;
}
.filter label {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid var(--color_neutral_2);
	background: var(--color_neutral_8);
	border-radius: 0.5em;
	cursor: pointer;
	opacity: 0.5;
}
.filter_keyword + label {
	color: darkgreen;
}
.filter_race + label {
	color: darkblue;
}
.filter_job + label {
	color: darkred;
}

.filter_keyword:checked + label {
	opacity: 1;
	background: lightgreen;
	color: black;
}
.filter_race:checked + label {
	opacity: 1;
	background: lightblue;
	color: black;
}
.filter_job:checked + label {
	opacity: 1;
	background: salmon;
	color: black;
}
.filter_floor:checked + label {
	opacity: 1;
	background: lightgrey;
	color: black;
}
